<ul class="undercover inline">
  {% assign all_tags = site.my_tags | sort: "tagname" %}
  {% assign all_uuids = all_tags | map: "uuid" %}
  {% for uuid in include.tags %}
    {% if all_uuids contains uuid %}
    {% else %}
      <li><a title="Broken link. Please report!" class="broken"><span class="badge">{{ uuid }}</span></a></li>
    {% endif %}
  {% endfor %}
  {% for tag in all_tags %}
    {% if include.tags contains tag.uuid %}
      <li><a href="{{ site.baseurl | append: tag.url }}"><span class="badge">{{ tag.tagname }}</span></a></li>
    {% endif %}
  {% endfor %}
</ul>
