---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post-meta">{{ page.uuid }}</p>
    <blockquote><p>{{ page.snippet }}</p></blockquote>
    <ul class="undercover">
      {% for tag in page.tags %}
      <li><a href="{{ site.baseurl | append: "/tags/" | append: tag | append: ".html" }}" class="undercover"><span class="badge">{{ tag }}</span></a></li>
      {% endfor %}
    </ul>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
